*, body {
	margin:0;
	padding:0;
}

* {
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}

.topHeader {
    background: linear-gradient(to bottom, white, blue);
    background: url("./images/image1.jpg");
}

.topHeader {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 50%
}

.topHeaderContents {
    float: right;
    color: white;
    width: 40%;
    padding-top: 20%;
    color: white;
    line-height: 36px;
}

.topHeaderContents h1 {
    font-size: 40px;
}

.topHeaderContents p {
	line-height: 22px;
	padding: 3% 0;
}

.emphasizedHeaderWords {
    font-family: 'Karla', sans-serif, bold;
    font-weight: 500;
}

.topHeaderButtons > p {
    display: inline-block;
    padding: 3% 7%;
    border: 1px solid white;
}

.topHeaderButton1 {
    margin-right: 2%;
}

.mainNavigationBar {
    -webkit-box-shadow: 0px 1px 1px #de1dde;
    -moz-box-shadow: 0px 1px 1px #de1dde;
    box-shadow: 0px 2px 0px #B8B8B8;
    padding-bottom: 1%;
    margin-bottom:2%;
}

.mainNavigationBar > div {
    display: inline-block;
}

.companyTitle {
	margin-left:3%;
	padding-top:1%;
}

.menuLines {
    width: 2%;
    float: right;
    padding: 2% 3%;
    color:blue;
}

.menuLines hr {
	border-bottom:1px solid blue;
	margin-bottom: 25%
}

.secondHeader {
	padding-top:6%;
}

.secondHeaderTitle {
	padding-left:40%;
	text-transform: capitalize;
}

.secondHeaderImage {
	padding-top:2%;
	padding-left:18%;
}

footer {
	padding:9% 0% 7% 5%;
	text-align:center;
}
